body {
  padding: 0;
  margin: 0;
}
.links > a {
  margin-right: 10px
}
.home, .HelloWorld, .subComp  {
  text-align: center;
}

.view {
  background-color: lightgrey;
  height: 100vh;
  width: 100vw;

}

.the-div {
  outline: 5px solid goldenrod;

}

.subComp {
  color: white;
  background-color: black;
}
